<h1>Let's work together</h1>
<div class="conatiner">
  <div class="col col-md-6">
    Hey my name is blablabl
  </div>
  <div class="col col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.953484391537!2d1.4715332159296546!3d43.628327079122236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aea32d35e272e3%3A0xceacf3ef1d7efc8b!2s2%20Rue%20Cambard%2C%2031200%20Toulouse!5e0!3m2!1sen!2sfr!4v1575466338088!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>